<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arpit.alistegnoproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AliStegnoProject">
        <activity
            android:name=".login_signup.signUpActivity"
            android:exported="false" />
        <activity
            android:name=".login_signup.LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".pass_object.PuneActivity"
            android:exported="false" />
        <activity
            android:name=".pass_object.AhmedabadActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".pass_string.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".pass_string.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>